# Dependencies
**/node_modules/

# Logs
*.log
*.err.log

# Env files
.env
.env.*
!.env.example
!.env.local.sample

# Build output
**/.next/
**/out/
**/dist/
**/build/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.firebase/

# Secrets
**/*firebase-adminsdk*.json
